@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align: center;">University Of Information Technology And Sciences</h2>
    <h4>University of Information Technology and Sciences (UITS), the first IT-based private University in Bangladesh was founded in 7 August 2003 as a non-profit organization. INFORMATION SCIENCE AND TECHNOLOGY SOLUTION LTD. (ISTS), a concern of PHP group headed by Alhaj Sufi Mohamed Mizanur Rahman Chowdhury is the sponsor of UITS. The guiding spirit behind the endeavor is "divine blessings, mixed with hard work, backed by good intentions, make miracles." The government was pleased to accord permission with effect from 07 August 2003 to function this University as per its Vision, Mission, Goals and Commitment to Quality Education with a view to shape a complete,effective and efficient humane power. It endeavors to remain at the cutting edge of building knowledge and skills, integrated with human values and ethical practices in Bangladesh. It is a science and technological knowledge-based center that provides marketable skills for younger generations who may be gainfully employed both national and international organizations.</h4>
    <p style="text-align: center;"><a href="http://www.uits.edu.bd" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

