@model IEnumerable<FinalMvcProject.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>View All Departments</h2>


<table class="table table-bordered text-center">
    <tr>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

        </tr>
    }

</table>
